@tailwind base;
@tailwind components;
@tailwind utilities;


.title-text {
   
    text-align: center; /* Center-align the text */
    opacity: 1; /* Make the text fully opaque */
    
    background-repeat: repeat-x; /* Repeat the background image horizontally */
    background-clip: inherit; /* Inherit the background clipping from the parent */
     -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; /* Make the text transparent */
    animation: animate 40s linear infinite; /* Apply an animation named "animate" */
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

body{
 background-color: #fdf9ff;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
